body {  
   background-color: rgb(0, 0, 0); 
   background: url("images/atardecerhorca.png");
   background-repeat: no-repeat;
   background-size:cover;
   width: 100%;
   height: auto;
   background-color: rgb(0, 0, 0); 
}



header{
   margin: 0;
   width: 100%;
  }
  
   .header-izq{
   position: absolute;
   top: 0;
   left: 0;
   width: 15%;
  }
  .header-izq img{
   width: 100%;
  }
  
  .header-der{
   position: absolute;
   top: 0;
   right: 0;
   width: 20%;
   
  }
  
  .header-der img{
   width: 100%;
  }
  


@media (max-width:767px)
{
  header
  {
    visibility: hidden;
  }
}





.contenedor {
  position: absolute;
  width:40%;  
  top: 0;
  left: 30%;

   
}

img {
  max-width: 100%;
} 




.marco{
  position: relative;  
  margin: 3% 0 10% 0;
  text-align: center;
  width: 40%;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(2, 1, 1, 0.3);
  border-radius: 1em; 
  border: 6px solid #df1d03;
  z-index: 2;
}
.marco p
{
 margin-left: auto;
 margin-right: auto;
}

@media (max-width:1280px)
{

  .marco img
  {
    visibility: hidden;
  }
}


@media (max-width: 767px){

  .contenedor{
    left: 0;
    width: 100%;
  }

  .marco{
    width: 60%;
  }

  .marco p{
  font-size: calc( 1rem + 4vw);
  }

  .buttons{
    position: relative;
    right: -12%;
  }
.buttons2{
    position: relative;
    right: -10%;
  }
}


.encabezado {
  display: block;
  height: 5vw;
  color: rgb(247, 103, 103);
  font-weight: bold;
  font-size: calc(0.4rem + 3vw);
  text-align: center;
  z-index: 2;
 
}

.gifsangre{
  position: relative;
  margin-top: -1vw;
  z-index: -1;

}

/*****************INICIO ANIMACION DE GOTEO*****************/  
.sangrado{
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  pointer-events: none;
  }
  
  /**************GOTAS**************/
.sangrado div{
  position:absolute;
  display: block;
  width: 2%;
  height: auto;
  }

   
.sangrado div:nth-child(1){
  left: 7%;
  animation: animate 1.1s linear infinite;
  animation-delay: -4s;
  }
.sangrado div:nth-child(2){
  left: 15%;
  animation: animate 1.7s linear infinite;
  animation-delay: -6s;
  }
.sangrado div:nth-child(3){
  width: 3%;
  left: 24%;
  animation: animate 1.3s linear infinite;
  animation-delay: -2s;
  }
.sangrado div:nth-child(4){
  left: 31%;
  animation: animate 1.8s linear infinite;
  animation-delay: -7s;
  }
.sangrado div:nth-child(5){
  left: 44%;
  animation: animate 1.3s linear infinite;
  animation-delay: -3s;
  }
.sangrado div:nth-child(6){
  width: 4%;
  left: 50%;
  animation: animate 1.5s linear infinite;
  animation-delay: -2s;
  }
.sangrado div:nth-child(7){
  left: 59%;
  animation: animate 1.1s linear infinite;
  animation-delay: -6s;
  }
.sangrado div:nth-child(8){
  left: 70%;
  animation: animate 1.1s linear infinite;
  animation-delay: -4s;
  }
.sangrado div:nth-child(9){
  width: 3%;
  left: 85%;
  animation: animate 1.8s linear infinite;
  animation-delay: -7s;
  }
.sangrado div:nth-child(10){
  left: 92%;
  animation: animate 1.1s linear infinite;
  animation-delay: -4s;
  }

 
@keyframes animate {
      0%{
          top: 1%;
      }
      100%{
          top:99%;
      }    
  }
 
/*****************FIN ANIMACION DE GOTEO*****************/  

/****************boton blob******************/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1em;
}

.buttons {
  margin: 2% 35%;
  text-align: center;
}


.buttons2 {
  margin: 2% 35%;
  text-align: center;
}


.buttons3 {
  margin: 1vw;
  text-align: center;
  width: 29vw;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
 
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 1.5em 3em;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(228, 131, 131);
  font-size: calc(0.87rem + 0.15vw);
  font-weight: bold;
  background-color: rgba(39, 9, 1, 0.3);
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
}


@media (max-width: 767px)
{
  .blob-btn
  {
    position: relative;
      left: 0;
      display: block;
      
  }
  .blob-btn buttons2
  {
    position: absolute;
    top:25vh;
   
  }
  .blob-btn buttons
  {
    position: absolute;
    top:12vh;
   
  }
  
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #ff1e01;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid #222;
  transition: all 0.3s 0.2s;
}
.blob-btn:hover {
  color: rgb(252, 182, 182);
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}
.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: rgb(151, 31, 31);
  border-radius: 100%;
  transform: translate3d(0, -150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url('#goo')) {
 
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url('#goo')) {

}



/****caja de texto nueva palabra****/




.text-input {
  color: rgb(247, 80, 80);
  border-radius: 0.5em;
  border: 5px solid rgb(151 31 31);
  margin: 1vw;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px)
{
  .text-input
  {
    top:20vh;
    display: block;
    height: 5.5vh;
    position: absolute;
      left: 0;
  }
}


/****************pop up****************/

.overlay {
  position: absolute;
  top: 0px;
  left: 10%;
  right: 10%;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 15;
  background: rgba(63, 14, 1, 0.85);
   border-radius: 15px;
}


.overlay:target {
  visibility: visible;
  opacity: 1;  
}



.espaciotablero{  
    width: auto;
    margin: 10px;
   
  }
  
#tablero{
width: 100%;
  }
  
  

#btnvisible {
  color: white;
  margin-top: 10px;
  text-align: center;
  width: 300;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 500ms;
  opacity: 1;
}

.btnInvisible {
  margin-top: 10px;
  text-align: center;
  width: 1000;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
  
 

.marco-mobi{
  display: block;
  position: absolute;
  top: 2vw;
  left: 0vw;
  width: 30vw;
  right: 22vw;
  text-align: center;
}

#input-letra-mobi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 6vw;
  visibility: hidden;
}

.mobi-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 25vw;
  height:8vw;
  text-transform: uppercase;
  color: rgb(228, 94, 94);
  font-size: calc(0.87rem + 0.15vw);
  font-weight: bold;
  background-color: transparent;
  border: 1vw solid #ff1e01;
  border-radius: 2vw;
}
.mobi-btn:hover {
  background-color: rgb(165, 1, 1);
  color: rgb(231, 100, 100);
  transition: 0.3s;
}

@media (max-width: 780px)
{
  #input-letra-mobi
  {
    visibility: visible;
    width: 50%;
  }
  .mobi-btn
  {
    visibility: visible;
  }
}
#cerrar{
  position: absolute;
  right: 1vw;
  top: 1vw;
  margin-right: auto; 
  transition: all 200ms;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 0, 0);
  z-index: 15;
}



/**********************footer****************/



.site-footer
{
  height: 10vw;
  position: fixed;  
  bottom: 0;
  padding: 0.65vw 0 2vw;
  font-size: calc(1rem + 0.5vw);
  line-height:24px;
  color:#737373;
}


.footer-izq{
  position: fixed;
  bottom: 1vw;
  left: 0;
}

@media (max-width:767px)
{
  .footer-izq
  {
   visibility: hidden;
  }
}



.footer-der{
  position: fixed;
  bottom: 1vw;
  right: 0;
}



.site-footer h6
{
  color:#fff;
  font-size: calc(1rem + 0.2vw);
  text-transform:uppercase;
  margin-top: 0.5vw;
  letter-spacing:0.1vw;
  margin: 0.91vw;
}
.site-footer a
{
  color:#737373;
}
.site-footer p:hover
{
  color:rgb(170, 50, 50);
  text-decoration:none;
}
.site-footer a:hover
{
  color:rgb(170, 50, 50);
  text-decoration:none;  
}




.text-justify
{
  font-size: calc(1rem + 0.2vw);
  margin: 0.91vw
}
.copyright-text
{
  font-size: calc(1rem + 0.2vw);
  margin: 0.91vw
}



.social-icons img{
  width: 4vw;
  height: 4vw;
  border-radius: 2.5vw;
  transition: .2s linear;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
 
  background-color: transparent; 
  font-size: calc(1rem + 0.2vw);
  display:inline-block; 
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  transition:all .2s linear
}


.social-icons img:hover
{
 filter: 
 drop-shadow(0 0 1vw rgb(247, 54, 54))
 drop-shadow(0 0 3vw rgb(247, 64, 64))
 drop-shadow(0 0 4vw rgb(247, 74, 74))
 drop-shadow(0 0 6vw rgb(247, 84, 84))
 drop-shadow(0 0 8vw rgb(247, 95, 94))
  
}

@media (max-width:767px)
{
  .site-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .footer-der{
    position: relative;
    width:100%;
    text-align: center;  
  }
    
}

